root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{htm,html,js,ts,css,scss,less}]
insert_final_newline = true
